<app-main-layout title="Account List">
  <a mat-flat-button color="primary" routerLink="create"> Create Account </a>
</app-main-layout>

<app-table
  [isLoading]="isLoading"
  [columns]="columns"
  [data]="data"
  [isActionTemplateVisible]="true"
  [actionTemplate]="actionTemplate"
></app-table>

<ng-template #actionTemplate let-data>
  <div class="flex">
    <a
      class="!grid !place-content-center"
      mat-icon-button
      color="primary"
      routerLink="{{ data.adminId }}"
    >
      <mat-icon>edit</mat-icon>
    </a>

    <button
      class="!grid !place-content-center"
      mat-icon-button
      (click)="onResetPasswordClick(data.adminId)"
    >
      <mat-icon>lock_reset</mat-icon>
    </button>
    <button
      class="!grid !place-content-center"
      mat-icon-button
      [color]="data.isActive ? 'warn' : 'primary'"
      (click)="onToggleStatusClick(data.adminId)"
    >
      @if (data.isActive) {
        <mat-icon>block</mat-icon>
      } @else {
        <mat-icon>settings_backup_restore</mat-icon>
      }
    </button>
  </div>
</ng-template>
