<div matDialogTitle class="mat-dialog-header">
  <h3 class="font-medium">{{ data.title }}</h3>
  <button mat-icon-button (click)="onCloseClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <h3>
    {{ data.message }}
  </h3>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-full flex justify-end items-center">
    <button mat-flat-button (click)="onCloseClick()">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="onConfirmClick()"
      [disabled]="isLoading"
    >
      {{ data.confirmText }}
    </button>
  </div>
</mat-dialog-actions>
