<div class="main-container mat-elevation-z1">
  @if (isLoading) {
    <div class="main-loading-shade flex flex-col gap-6">
      <mat-spinner></mat-spinner>
      <span class="text-primary-400 font-medium">Loading data...</span>
    </div>
  }

  <div class="main-table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Ordered At.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: "dd/MM/yyyy hh:MM:ss a" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Order No.</th>
        <td mat-cell *matCellDef="let element">{{ element.deliveryName }}</td>
      </ng-container>

      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.customerOrderVendor.vendorName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Delivery Details</th>
        <td mat-cell *matCellDef="let element">
          <div class="py-2">
            {{ element.customerOrderVendor.customerOrder.customer.name }},
            {{ element.customerOrderVendor.deliveryAddress }},
            {{ element.customerOrderVendor.customerOrder.deliveryContact }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef>Products</th>
        <td mat-cell *matCellDef="let element">
          <div
            class="flex gap-1 flex-wrap"
            [innerHTML]="
              getProducts(
                element.customerOrderVendor.customerOrderVendorProduct
              )
            "
          ></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Total Amount</th>
        <td mat-cell *matCellDef="let element">
          ${{ element.customerOrderVendor.customerOrder.totalPrice }}
        </td>
      </ng-container>

      <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
      <tr class="mat-row" *matNoDataRow>
        <td
          [class]="{
            'mat-cell': true,
            'text-center': true,
            'py-5': true,
            '!hidden': isLoading,
          }"
          [colSpan]="displayedColumns.length"
        >
          No data found
        </td>
      </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>
    </table>
  </div>
</div>

<div class="flex flex-col w-fit mt-4 ml-auto">
  <mat-form-field class="w-full">
    <mat-label>Assign Admin</mat-label>
    <mat-select [(value)]="selectedAdmin">
      @for (admin of adminList; track admin) {
        <mat-option [value]="admin.adminId">{{ admin.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="flex items-center gap-2 mb-4">
    <a
      routerLink="/delivery"
      [disabled]="isSubmitting"
      mat-stroked-button
      color="primary"
    >
      Cancel
    </a>
    <button
      (click)="createDelivery()"
      [disabled]="isSubmitting"
      mat-flat-button
      color="primary"
    >
      Create Delivery
    </button>
  </div>
</div>
