<div class="relative grid place-items-center">
  <div
    class="bg-primary-400 w-full py-2 text-center text-white shadow-lg absolute top-0 flex items-center justify-center gap-2"
  >
    <img class="size-16" src="images/SNACK_WORLD_DARK.png" alt="logo" />
    <h1 class="font-medium">Admin Dashboard</h1>
  </div>
  <div class="p-8 w-full h-screen grid place-items-center">
    <form
      class="shadow-lg p-8 rounded"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="text-xl font-medium mb-4">Login</h2>
      <div class="flex flex-col">
        <mat-form-field>
          <mat-label>Email address</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-icon matSuffix class="text-gray-600">email</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-icon matSuffix class="text-gray-600">lock</mat-icon>
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="!py-6"
          [disabled]="isSubmitting || form.invalid"
        >
          {{ isSubmitting ? "Logging in..." : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
