@use "../../../palette.scss" as palette;
$toolbar-height: 56px;

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  height: $toolbar-height !important;
  min-height: $toolbar-height !important;
}

mat-sidenav-container {
  height: 100%;
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
  padding-top: 3.5rem;
  background-color: palette.$primary;
  @media screen and (min-width: 600px) {
    padding-top: $toolbar-height;
  }

  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
  }
}

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: $toolbar-height;
  }
}

.expanded {
  width: fit-content;
}

.mat-divider-nav-white {
  border-top-color: white;
  opacity: 0.4;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.mdc-list {
  padding-top: 0 !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
  border-radius: 0;
}

.mat-drawer-container {
  background: none !important;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0;
}
