<form
  [formGroup]="form"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
  class="bg-white p-4 rounded shadow-lg max-w-xl mx-auto"
>
  <div class="flex flex-col">
    <h2 class="text-xl font-medium mb-4">Make Announcement</h2>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <input matInput formControlName="content" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for (type of types; track $index) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="mb-6">
      @switch (selectedType) {
        @case (types[0]) {
          <app-info-box>
            <span>Send to all Customers and Vendors</span>
          </app-info-box>
        }
        @case (types[1]) {
          <angular2-multiselect
            formControlName="customerId"
            [data]="customerList"
            [settings]="dropdownSettings"
            [disabled]="isLoading"
          ></angular2-multiselect>
        }
        @case (types[2]) {
          <angular2-multiselect
            formControlName="vendorId"
            [data]="vendorList"
            [settings]="dropdownSettings"
            [disabled]="isLoading"
          ></angular2-multiselect>
        }
      }
    </div>

    @if (error) {
      <div class="mb-4">
        <app-error-text [error]="error" />
      </div>
    }

    <button
      mat-flat-button
      color="primary"
      type="submit"
      class="!py-6"
      [disabled]="isSubmitting || form.invalid"
    >
      {{ isSubmitting ? "Sending..." : "Send" }}
    </button>
  </div>
</form>
