@if (isLoading) {
  <app-loader />
} @else {
  <div
    class="p-4 rounded shadow-lg bg-white space-y-3 border-2 border-primary-100"
  >
    <div class="grid grid-cols-4 gap-4">
      <div>
        <div class="flex items-center gap-2">
          <mat-icon>local_shipping</mat-icon>
          <h1 class="font-medium text-sm text-gray-600">Delivery Name</h1>
        </div>
        <p>{{ data?.deliveryName }}</p>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <mat-icon>account_circle</mat-icon>
          <h1 class="font-medium text-sm text-gray-600">Admin Name</h1>
        </div>
        <p>{{ data?.admin?.name }}</p>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <mat-icon>incomplete_circle</mat-icon>
          <h1 class="font-medium text-sm text-gray-600">Order Progress</h1>
        </div>
        <p>{{ getDeliveredOrders }}/{{ data?.deliveryOrder?.length }}</p>
      </div>
      <div>
        <h1 class="font-medium text-sm text-gray-600">Delivery Status</h1>
        <app-badge
          [text]="data?.deliveryStatus"
          [bgColor]="getDeliveryStatusColor"
        ></app-badge>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <mat-icon>schedule</mat-icon>
          <h1 class="font-medium text-sm text-gray-600">Created At</h1>
        </div>
        <p>{{ data?.createdAt | date: "dd/MM/yyyy hh:MM:ss a" }}</p>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <mat-icon>update</mat-icon>
          <h1 class="font-medium text-sm text-gray-600">Last Updated</h1>
        </div>
        <p>{{ data?.updatedAt | date: "dd/MM/yyyy hh:MM:ss a" }}</p>
      </div>
      <div>
        <h1 class="font-medium text-sm text-gray-600">Total Delivery Amount</h1>
        <div class="flex items-center">
          <mat-icon>attach_money</mat-icon>
          <div class="font-medium">{{ getTotalAmount }}</div>
        </div>
      </div>
      <div class="self-center">
        @if (
          checkIfAllDelivered &&
          data?.deliveryStatus === DELIVERY_STATUS.DELIVERING
        ) {
          <button mat-flat-button (click)="onDeliveryEnd()">
            Finish Delivery
          </button>
        } @else if (data?.deliveryStatus === DELIVERY_STATUS.PENDING) {
          <button mat-raised-button (click)="onDeliveryStart()" color="primary">
            Start Delivery
          </button>
        }
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-6">
    @for (item of data?.deliveryOrder; track $index) {
      <div class="bg-white rounded p-3 shadow border-2 border-primary-100">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <mat-icon>route</mat-icon>
            <h1 class="font-medium text-gray-800">
              {{ item?.deliveryName }}
            </h1>
          </div>
          <div class="flex items-center gap-4 text-sm font-medium">
            <app-badge
              [text]="item?.deliveryOrderStatus"
              [bgColor]="getDeliveryOrderStatusColor(item?.deliveryOrderStatus)"
            ></app-badge>
          </div>
        </div>
        <div class="flex items-center justify-between mt-4">
          <div class="text-sm">
            <div class="flex items-center gap-2">
              <mat-icon>face</mat-icon>
              <h1 class="font-medium">
                {{ item.customerOrderVendor.customerOrder.customer.name }}
              </h1>
            </div>
            <div class="flex items-center gap-2">
              <mat-icon>phone</mat-icon>
              <p>
                {{ item.customerOrderVendor.customerOrder.deliveryContact }}
              </p>
            </div>
            <div class="flex items-center gap-2">
              <mat-icon>location_on</mat-icon>
              <p>
                {{ item.customerOrderVendor.customerOrder.deliveryAddress }}
              </p>
            </div>
          </div>
          <div class="text-end text-sm font-semibold">
            <div class="flex items-center justify-between gap-2">
              <mat-icon>store</mat-icon>
              <div>
                {{ item.customerOrderVendor.vendorName }}
              </div>
            </div>
            <div class="flex items-center justify-between gap-2">
              <mat-icon>attach_money</mat-icon>
              <p>{{ item.customerOrderVendor.customerOrder.totalPrice }}</p>
            </div>
            <div class="flex items-center justify-between gap-2">
              <mat-icon>wallet</mat-icon>
              <div>
                @if (item.customerOrderVendor.customerOrder.isPrepaid) {
                  PAID
                } @else {
                  COD
                }
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-3" />
        <div class="mt-4 flex items-center justify-between">
          <h3 class="font-medium text-sm text-gray-600">Product Details</h3>
          <h3 class="text-sm font-medium">
            {{ item.customerOrderVendor.customerOrderVendorProduct.length }}
            items
          </h3>
        </div>
        <div class="mt-3 space-y-2">
          @for (
            product of item.customerOrderVendor.customerOrderVendorProduct;
            track $index
          ) {
            <div class="bg-gray-100 shadow-sm rounded p-3">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-4">
                  <h1 class="font-medium capitalize">
                    {{ product.product.name }}
                  </h1>
                  <p
                    class="border border-black px-2 py-1 text-sm rounded font-medium"
                  >
                    {{ product.variantName }}
                  </p>
                </div>
                <div class="flex items-center gap-4 text-sm">
                  <p>{{ product.quantity }} x ${{ product.price }}</p>
                  <p class="rounded p-1 bg-gray-500 text-white shadow">
                    ${{ product.quantity * product.price }}
                  </p>
                </div>
              </div>
            </div>
          }
        </div>

        <div class="flex justify-end mt-3">
          @if (data?.deliveryStatus !== DELIVERY_STATUS.PENDING) {
            @switch (item?.deliveryOrderStatus) {
              @case (DELIVERY_ORDER_STATUS.NEW) {
                <button
                  mat-flat-button
                  (click)="onOrderDeliveryStart(item.deliveryOrderId)"
                  color="primary"
                >
                  Start Order Delivery
                </button>
              }
              @case (DELIVERY_ORDER_STATUS.DELIVERING) {
                <button
                  mat-stroked-button
                  (click)="onOrderDeliveryEnd(item.deliveryOrderId)"
                  color="primary"
                >
                  Finish Order Delivery
                </button>
              }
            }
          }
        </div>
      </div>
    }
  </div>
}
