@use "@angular/material" as mat;
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$app-primary-palette: (
  50: #f1e9e0,
  100: #dcc7b3,
  200: #c5a284,
  300: #ad7e56,
  400: #543310,
  500: #4c2e0e,
  600: #44280d,
  700: #3b220b,
  800: #331b09,
  900: #241206,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$app-secondary-palette: (
  50: #e6f2f1,
  100: #b3d9d5,
  200: #80bfb9,
  300: #4da69c,
  400: #1a8c80,
  500: #167f74,
  600: #137369,
  700: #10665d,
  800: #0d5a52,
  900: #09413d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.m2-define-palette($app-primary-palette, 400, 200, 600);
$app-accent: mat.m2-define-palette($app-secondary-palette, 400, 200, 600);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
  )
);

// Include theme styles for core and each component used in your app.
:root {
  @include mat.all-component-themes($app-theme);
}
// @include mat.all-component-themes($app-theme);

// global variables
$primary: mat.m2-get-color-from-palette($app-primary);
$accent: mat.m2-get-color-from-palette($app-accent);
